*.gem
*.rbc
/.config
/.bundle/
/coverage/
/InstalledFiles
/pkg/
/spec/reports/
/spec/examples.txt
/test/tmp/
/test/version_tmp/
/tmp/

# Ignore Byebug command history file.
.byebug_history

## Environment normalization:
/.bundle/
/vendor/bundle
/lib/bundler/man/

# rspec failure tracking
.rspec_status
.tool-versions
tags
